---
layout: default
---

<div class="page home">

  <header>
    <h1 class="site-title">{{ site.title }}{% if site.tagline %} / {{ site.tagline }}{% endif %}</h1>
    <p>a personal blog by ethan miller about topics related to software engineering and (sometimes) matters relating to the the intersection of technology and society. subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a>.</p>
  </header>

  <div class="posts twelve columns ">
    {% for post in site.posts  %}
        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
        <h2 class="posts-year" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul class="post-list">
        {% endif %}

        <li>
          <article itemscope itemtype="http://schema.org/BlogPosting">
            <h2 itemprop="name">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">{{ post.title }}</a> 
            </h2>
            <time class="post-meta" pubdate itemprop="datePublished" datetime="{{ post.date | date_to_xmlschema }}" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m/%-d/%Y" }}</time>
          </article>
        </li>

        {% if forloop.last %}
        </ul>
        {% else %}
            {% if this_year != next_year %}
            </ul>
            <h2 class="posts-year" id="{{ next_year }}-ref">{{next_year}}</h2>
            <ul class="post-list">
            {% endif %}
        {% endif %}
    {% endfor %}
  </div>

  <!-- {% include footer.html %} -->

</div>
